.footer {
  background-color: #101C21;
  padding-top: 100px;
  padding-bottom: 53px;
}
.footer-info {
  @extend %container;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  // .footer-info__item1-unordered-list2

  &__item1-unordered-list2 {
    margin-top: 35px;
    margin-bottom: 52px;
  }

  // .footer-info__item1-demo-button

  &__item1-demo-button {
    @include demo-button ($ff,700, 17px,21px,center,#FFFFFF,$color2,56px,16px 50px);
    border: none; 
  }

  // .footer-info__item2

  &__item2 {
    display: flex;
    align-items: baseline;
  }

  // .footer-info__copyrights

  &__copyrights {
    @extend %container; 
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
  }

  // .footer-info__copyrights-logo

  &__copyrights-logo {
    display: flex;
    column-gap: 35px;
  }
}
.footer-tittle {
  @include text-block ($ff,400,16px,18px,#878D90);
  margin-bottom: 17px;
}
.item-link {
  @include text-block ($ff,400,16px,18px,#CFD2D3);
  margin-top: 15px;
  list-style: none;
}
.inner-menu {
  display: flex;
  justify-content: space-between;
  column-gap: 130px;

  // .inner-menu__logo

  &__logo {
    display: flex;
    align-items: center;
    column-gap: 35px;
  }
}
.inner-menu-link {
  @include text-block ($ff,400,14px,16px,#FFFFFF);
  margin-top: 15px;
  list-style: none;
}
.footer-email {
  display: flex;
  flex-direction: column;
  margin-top: 57px;

  // .footer-email__form-text

  &__form-text {
    @include text-block ($ff,400,19px,22px,#FFFFFF);
    margin-bottom: 32px;
  }

  // .footer-email__input

  &__input {
    @include text-block ($ff,400,15px,17px, #878D90);
    background: #FFFFFF;
    border: 1px solid #CFD2D3;
    border-radius: 4px;
    padding: 17px 347px 22px 39px;
  }

  // .footer-email__button

  &__button {
    @include demo-button ($ff,700, 15px,17px,center,#FFFFFF,$color2,56px,19px 42px);
    border: none;
    margin-left: 20px;
  }
}
.footer-copyrights-text {
  display: flex;
  justify-content: space-between;

  // .footer-copyrights-text__license

  &__license {
    margin-right: 30px;
  }

  // .footer-copyrights-text__privacy

  &__privacy {
    margin-right: 230px;
  }
}
.footer-text {
  @include text-block ($ff,400,13px,15px, #9FA4A6);
  text-align: center;
}










