* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}
$ff: Arial, Helvetica, sans-serif;
$color1:  #40494D;
$bck: #F3F7F4;
$color2: #283337;
%container {
  max-width: 88.9%;
  margin: auto;
}
%learn-more {
  font-family: $ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: $color2;
  text-decoration: none;
}
%our-results_content-header {
  font-family: $ff;
  font-weight: 400;
  color: $color2;
  font-size: 52px;
  line-height: 70px;
  margin-bottom: 19px;
  text-align: center;
}
%our-results_content-text {
  font-family: $ff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color1;
  text-align: center;
}
@import "./mixins";
@import "./header";

.complete-cloud {
  background: $bck;

  // .complete-cloud__content

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 179px;
    padding-bottom: 150px;
    @extend %container;
  }

  // .complete-cloud__content-logo

  &__content-logo {
    margin-top: 231px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.info-block {
  display: flex;
  align-items: center;
  justify-content: space-between;

  // .info-block__item1-header

  &__item1-header {
    margin-bottom: 44px;
    @include header ('Times New Roman',400,60px,60px,1px,$color2)
  }

  // .info-block__item1-text

  &__item1-text {
    @include text-block ($ff,400,21px,31px, $color1);
    margin-bottom: 26px;
  }

  // .info-block__item2

  &__item2 {
    background-image: url(http://127.0.0.1:5500/img/main_picture-min.png);
    background-size: contain;
    width: 415px;
    height: 540px;
    margin-right: 247px;
    position: relative;
  }

  // .info-block__item2-image1

  &__item2-image1 {
    position: absolute;  
    top: 35%;
    right: 74%;
  }

  // .info-block__item2-image2

  &__item2-image2 {
    position: absolute;
    top: 75%;
    left: 26%;
  }

  // .info-block__item2-image3

  &__item2-image3 {
    position: absolute;
    top: 30%;
    right: -30%;
  }
}
.request-demo {
  @include demo-button ($ff,400, 17px,21px,center,#FFFFFF,$color2,56px,16px 50px);
}
.the-product {
  @extend %container;
}
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 74px;

  // .product-info__item1-header

  &__item1-header {
    margin-bottom: 28px;
    @include header ('Times New Roman',400,60px,60px,1px,$color2)
  }

  // .product-info__item1-text

  &__item1-text {
    margin-bottom: 39px;
  }

  // .product-info__item1-button

  &__item1-button {
    @include demo-button ($ff,400, 18px,21px,center,#FFFFFF,$color2,56px,16px 25px);
  }

  // .product-info__item2

  &__item2 {
    padding: 80px 89px 80px 80px;
    background-color: $bck;
    border-radius: 6px;
  }

  // .product-info__item2-img

  &__item2-img {
    margin-bottom: 27px;
  }

  // .product-info__item2-header

  &__item2-header {
    @include text-block ($ff,400,32px,34px, $color2);
    margin-bottom: 51px;
  }

  // .product-info__item2-learn-more

  &__item2-learn-more  {
    text-align: right;
    margin-top: 38px;
    display: block;
    @extend %learn-more;
  }
}
.text-block {
   @include text-block ($ff,400,17px,26px, $color1);
}
.underline {
  font-weight: 700;
  text-decoration: underline;
}
.our-results {
  background: $bck;
  margin-top: 100px;
  padding-top: 224px;
  padding-bottom: 174px;

  // .our-results__content

  &__content {
    @extend %container;
    display: flex;
    flex-direction: column;
    row-gap: 75px;
  }

  // .our-results__content-header

  &__content-header {
    @include header ('Times New Roman',700,60px,60px,1px,$color2);
    text-align: center;
  }
}
.results-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

  // .results-info__item1-header

  &__item1-header {
    @extend %our-results_content-header;
  }

  // .results-info__item2-header

  &__item2-header {
    @extend %our-results_content-header;
  }

  // .results-info__item3-header

  &__item3-header {
    @extend %our-results_content-header;
  }
}
.results-text {
  @extend %our-results_content-text;
}
.kion-difference-info {
  display: flex;
  margin-top: 406px;
  padding-bottom: 150px;
  justify-content: space-between;
  @extend %container;

  // .kion-difference-info__item1-header

  &__item1-header {
    @include header ('Times New Roman',700,60px,60px,1px,$color2);
    text-align: left;
    margin-bottom: 43px;
  }

  // .kion-difference-info__item1-text

  &__item1-text {
    margin-bottom: 24px;
    @include text-block ($ff,400,17px,26px, $color1);
  }

  // .kion-difference-info__item1-learn-more

  &__item1-learn-more {
    @extend %learn-more;
  }
  .text-difference {
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 1px;
  }
  .info-list {
      margin-top: 24px;
      margin-left: 34px;
      margin-bottom: 24px;

    // .info-list__item-text
  
    &__item-text {
      margin-bottom: 12px;
      list-style: none;
    }
  }
  
  // .kion-difference-info__logo

  &__logo {
    background-image: url(http://127.0.0.1:5500/img/Kion.jpg);
    padding: 120px 260px;
    background-repeat: no-repeat;
  }
  &__logo-logo-img {
    background: #61D7AC;
    opacity: 0.8;
    border-radius: 44%;
    padding: 40px;
    width: 120px;
    height: 120px;
  }
}
.built-for {
  @extend %container;
  padding-bottom: 150px;

  // .built-for_header

  &_header {
    margin-bottom: 86px;
    @include header ('Times New Roman',700,60px,60px,1px,$color2);
    text-align: center;
  }

  // .built-for__logo

  &__logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.start-your-cloud {
  background: $bck;
  padding-top: 144px;
  padding-bottom: 150px;

  // .start-your-cloud__content

  &__content {
    @extend %container;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
  }

  // .start-your-cloud__content-header

  &__content-header {
    @include header ('Times New Roman',700,60px,60px,1px,$color2);
    text-align: center;
  }

  // .start-your-cloud__content-text

  &__content-text {
    @include text-block ($ff,400,33px,36px,$color2);
    text-align: center;
  }
}
.request-demo {
  @include demo-button ($ff,400, 17px,21px,center,#FFFFFF,$color2,56px,16px 50px);
}

// FOOTER STYLES 

@import "./footer";